// === Main ===
.portfolio {
    background-color: $grey_bg;
    &__text {
        width: 500px;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        margin: 0 auto;
        margin-top: 30px;
        &:not(:first-child) {
            margin-top: 40px;
        }
    }
    &__tabs {
        margin-top: 50px;
        &-btns {
            width: 750px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            margin: 0 auto;
        }
        &-btn {
            &.active {
                color: $white;
                background-color: $black;
            }
        }
        &-tab {
            display: none;
            justify-content: center;
            grid-template: auto / repeat(auto-fit , minmax(auto , 350px));
            grid-auto-rows: auto;
            gap: 25px;
            margin-top: 50px;
            &.active {
                display: grid;
            }
        }
        &-item {
            transform: scale(1);
            width: 100%;
            box-shadow: 0 15px 20px rgba(2, 57, 87, 0.15);
            transition: all 0.3s;
            border: 1px solid lightgrey;
            border-radius: 10px;
            overflow: hidden;
            &:hover {
                transform: scale(1.05);
            }
            &-img {
                width: 100%;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: $transition-sm;
                }
            }
            &-content {
                border-top: 1px solid lightgrey;
                padding: 20px;
            }
            &-title {
                color: $black;
                font-size: 20px;
                text-align: center;
                transition: $transition-md;
            }
            &-btns {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 20px;
            }
            &-btn {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 38px;
                color: $black;
                background-color: transparent;
                border: 1px solid $black;
                border-radius: 4px;
                padding: 6px 12px;
                transition: all 0.3s;
                &:first-child {
                    margin-right: 15px;
                    .portfolio__tabs-item-btn-icon {
                        transition: all 0.3s;
                    }
                }
                &:hover {
                    color: $white;
                    background-color: $black;
                    .portfolio__tabs-item-btn-icon {
                        fill: $white;
                    }
                }
                &-icon {
                    display: block;
                    fill: $black;
                    margin-right: 5px;
                }
            }
        }
    }
}
// === / Main ===

// === Media ===
@media (max-width: 991px) {
    .portfolio {
        &__tabs {
            &-btns {
                width: 710px;
            }
        }
    }
}

@media (max-width: 767px) {
    .portfolio {
        &__tabs {
            &-btns {
                width: 350px;
            }
            &-btn {
                &:nth-child(n+3) {
                    margin-top: 20px;
                }
            }
            &-item {
                &-btn {
                    &:hover {
                        color: $black;
                        background-color: transparent;
                        .portfolio__tabs-item-btn-icon {
                            fill: $black;
                        }
                    }
                    &:active {
                        color: $white;
                        background-color: $black;
                        .portfolio__tabs-item-btn-icon {
                            fill: $white;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 575px) {
    .portfolio {
        &__tabs {
            &-btns {
                width: 280px;
            }
            &-btn {
                width: 130px;
                &:nth-child(n+3) {
                    margin-top: 20px;
                }
            }
        }
    }
}
// === / Media ===